<ion-header>
    <ion-navbar color="light">
      <ion-buttons start>
        <button ion-button menuToggle>
        <ion-icon name="menu" style="color: #333;"></ion-icon>
      </button>
      </ion-buttons>
      <label style="color: #333;">Rental Request</label>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content style="background-color: #FEFEFE;">
        <div padding>
            <button ion-button icon-start round full (tap)="pilih()" style="background-color: #FAA61A; color: #333;">
                <ion-icon name='add-circle'></ion-icon>
                Tambah Item
            </button>
        </div>
        <div class="profile-image" *ngIf="!show">
            <ion-icon name="logo-codepen" style="color: #959595; margin-top: -25px;"></ion-icon>
            <p style="color: #959595">Part kosong..</p>
        </div>
        <ion-row *ngIf="show" style="background-color: darkkhaki;">
            <ion-col col-6>
                <p  style="text-align: center;margin-bottom: 2px;color: saddlebrown;font-weight: 500;">Limit Saldo</p>
                <h2 style="text-align: center;margin-top: 0; color: #333;">{{ arr_limit.kredit_limit - arr_limit.rentalPrice | number }}</h2>
            </ion-col>
            <ion-col col-6>
                <p style="text-align: center;margin-bottom: 2px;color: saddlebrown;font-weight: 500;">Total Biaya</p>
                <h2 style="text-align: center;margin-top: 0; color: #333">{{ total | number }}</h2>
            </ion-col>
        </ion-row>  
        
        
        <ion-grid>
            <ion-row>
                <ion-col col-6 *ngFor="let itm of arrData">
                    <div style="position: absolute; right: -7px;top:0;">
                        <button ion-button clear icon-start (tap)="hapuspart(itm.itemno)">
                            <ion-icon name='close-circle' is-active="false"></ion-icon>
                        </button>
                    </div>
                    <div class="box">
                        <h3>{{ itm.item_desc }}</h3>
                        <p>{{ itm.itemno }}</p>
                        <p>Qty Rental : {{ itm.qty }}</p>
                        <h4 style="background-color: darkorange;padding: 5px;border-radius: 10px;">{{ itm.unitprice_disc*itm.qty | number }}</h4>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        
        
        <ion-list padding *ngIf="show">
            <ion-list-header>
            Note
            </ion-list-header>
            <ion-item padding>
                <ion-label>Rental Remark</ion-label>
                <ion-textarea [(ngModel)]="keterangan" ></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label>Ron No.</ion-label>
                <ion-input [(ngModel)]="ronno" type="text" disabled></ion-input>
                <button ion-button color="secondary" item-right (tap)="cariron()" style="margin: 0;padding: 10px;">
                    <ion-icon name="archive" style="font-size: 1.2em;"></ion-icon>
                </button>
            </ion-item>
        </ion-list>
        <div padding *ngIf="show">
            <button ion-button round outline block (click)="simpandata()">Submit</button>
        </div>
  </ion-content>
  