page-historisetor {
    .address {
        border: 2px dotted white;
        background-color: white;
        margin-top: 20px;
        border-radius: 5px;
    }
    .item-block {
        margin-bottom: -15px;
        background-color: white;
    }
}
