<ion-header>
    <ion-navbar color="light">
        <ion-buttons start>
            <button ion-button menuToggle>
            <ion-icon name="menu" style="color: #333;"></ion-icon>
          </button>
        </ion-buttons>
      <label>Cek Harga</label>
    </ion-navbar>
  </ion-header>
  <ion-content style="background-color: #FEFEFE;">
    <ion-searchbar placeholder="Cari Nama Part" [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>  
    <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
              pullingIcon="arrow-down"
              pullingText="Pull to refresh"
              refreshingSpinner="circles"
              refreshingText="Refreshing...">
          </ion-refresher-content>
    </ion-refresher>
    <div class="profile-image" *ngIf="isfiltered">
        <ion-icon name="document" style="color: #333;"></ion-icon>
        <p style="color: #333;">Data tidak ditemukan..</p>
    </div>
    <p *ngIf="!show" style="color: #333;">Daftar part kosong</p>

    <ion-list style="background-color: #FEFEFE;">
        <ion-item style="border-bottom: 1px solid #dedede;padding-left: 7px; background-color: #FEFEFE" 
        *ngFor="let itm of arrList"  [ngClass]="{'read' : itm.baca == 0}">
            <p style="color: #333; font-weight: bold;">{{ itm.itemno }}</p>

            <h3 style="color: #333;">
                {{ itm.item_desc }}
            </h3>
            <h4 style="color: #333;font-size: 14px;text-overflow: ellipsis; overflow: hidden;white-space: nowrap;" text-nowrap>
                Rp. {{ itm.harga }}
            </h4>
        </ion-item>
    </ion-list>
  </ion-content>