<ion-header>
    <ion-navbar color="light">
      <ion-buttons start>
        <button ion-button menuToggle>
        <ion-icon name="menu" style="color: #333;"></ion-icon>
      </button>
      </ion-buttons>
      <label style="color: #333; font-size: 16px;">List Konsumen</label>
      <ion-buttons end>
        <button ion-button  (tap)="carikonsumen()" style="background-color: #FEFEFE;border-radius: 50%;border: 1px solid mintcream;">
            <ion-icon name="search" style="font-size:24px;padding: 2px;color: #333;"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>  
  
  <ion-content style="background-color: #FEFEFE;">
    <ion-list inset *ngIf="!task">
      <ion-row style="padding-top: 10px;background-color: #fefefe;">
        <ion-col col-8>
          <ion-input [(ngModel)]="namatelp" type="text" placeholder="Cari Nama atau No. Handphone" style="color: #333;border: 1px solid #ccc; border-radius: 5px;"></ion-input>
        </ion-col>
        <ion-col col-4>
          <button style="width: 100%; height: 100%; border-radius: 5px; background-color: #faa61a;" (click)="cari()">Cari</button>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-list>
      <div class="profile-image" *ngIf="isfiltered">
          <ion-icon name="document"></ion-icon>
          <p style="color: #333;">Data tidak ditemukan..</p>
      </div>
        <ion-item *ngFor="let itm of arrList" style="background-color: #FEFEFE; border-radius: 5px; border: 1px solid #333;margin: 5px;width: 95%;">
            <div (tap)="select(itm)">
              <h3 style="color: #333;"><ion-icon name="contact" style="font-size: 1.2em; color: #333;">&nbsp;</ion-icon> {{ itm.konsumen_card }}</h3>
              <h3 style="color: #333;"><ion-icon name="contact" style="font-size: 1.2em; color: #333;">&nbsp;</ion-icon> {{ itm.nama_konsumen }}</h3>
              <p style="color: #333;"><ion-icon name="ios-home-outline" style="font-size: 1.2em; color: #333;">&nbsp;&nbsp;</ion-icon>{{ itm.alamat }}</p>
              <p style="color: darkgoldenrod; font-size: 11px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ itm.kota }}</p>
            </div>
        </ion-item>
    </ion-list>
  </ion-content>
  