page-success {
  .hide-card {
    -webkit-box-shadow: none!important;
    background-color: floralwhite;
  }
  
  .custom-avatar {
    height: 30vw;
    font-size: 60pt;
    padding-top: 33px;
    color: black;
  }
}



