<ion-header>
  <ion-navbar color="light">
    <label style="color: #333; font-size: 18px;">Detail Setor Tunai</label>
  </ion-navbar>
</ion-header>
<ion-content style="background-color: #FEFEFE;">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="address">
    <ion-item style="font-size: 12px; color: rgb(61, 61, 61);">
      <h3>{{ isi.nomorsetor }}</h3>
      <p style="font-size: 10px;">Tanggal Transaksi : {{isi.created_date | date: 'dd/MM/yyyy'}}</p>
    </ion-item>
    <ion-item style="font-size: 12px; color: rgb(61, 61, 61);">
      Kode Pembayaran
      <h3 *ngIf="isi.metodepembayaran == 'Alfamart'">{{ isi.kodepembayaran }}</h3>
      <img *ngIf="isi.metodepembayaran == 'QRIS'" src={{isi.kodepembayaran}}/>
    </ion-item>
    <ion-item style="font-size: 12px; color: rgb(61, 61, 61);" *ngIf="isi.kodepembayaran == 'QRIS'">
      <button ion-button icon-start block (tap)="reloadpage()">Tampilkan Barcode</button>
    </ion-item>
    <ion-item style="font-size: 12px; color: rgb(61, 61, 61);">
      Metode Pembayaran
      <h3>{{ isi.metodepembayaran }}</h3>
    </ion-item>
    <ion-item style="font-size: 12px; color: rgb(61, 61, 61);">
      Status
      <h3>{{ isi.status_pembayaran}}</h3>
    </ion-item>
    <ion-item style="font-size: 12px; color: rgb(61, 61, 61);" *ngIf="isi.status_pembayaran == 'pending'">
      Instruksi Pembayaran
      <a ion-button icon-start block href="https://app.midtrans.com/snap/v1/transactions/{{ isi.token }}/pdf">Instruksi Pembayaran</a>
    </ion-item>
    <ion-item style="font-size: 12px; color: rgb(61, 61, 61);">
      <h3 *ngFor="let sbttl of par" style="text-align: right;">Jumlah RON : {{ sbttl.jumlahron }} RON</h3>
    </ion-item><br>
    <hr style="height: 2px; color: grey; margin-top: 5px;">
    <p style="font-size: 12px !important; margin: 10px; text-align: center;"> Detail RON</p>
    <hr style="height: 2px; color: grey;">
    <ion-list *ngFor="let itm of arrList">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3>{{ itm.nomor_ron }}</h3>
          </ion-col>
          <ion-col>
            <h3 style="text-align: right;">{{ itm.nominal | currency:"Rp. ":true:"1.0" }}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list><br>
    <hr style="height: 2px; color: grey; margin-top: 5px;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p style="color: black;">Subtotal</p>
        </ion-col>
        <ion-col>
          <h3 *ngFor="let sbttl of par" style="text-align: right; margin-right: 3px;">{{ sbttl.subtotal | currency:"Rp. ":true:"1.0" }}</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p style="color: black;">Biaya Layanan</p>
        </ion-col>
        <ion-col>
          <h3 *ngFor="let sbttl of par" style="text-align: right; margin-right: 3px;">( - ) {{ sbttl.layanan | currency:"Rp. ":true:"1.0" }}</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p style="color: black;">Total Bayar</p>
        </ion-col>
        <ion-col>
          <h3 *ngFor="let sbttl of par" style="text-align: right; margin-right: 3px;">{{ sbttl.subtotal | currency:"Rp. ":true:"1.0" }}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr style="height: 2px; color: grey; margin-top: 5px;">
  </ion-card>
</ion-content>
