page-library-detail {
    .card-background-page {
      .profile-image {
          margin-top: 50%;
      }
      .profile-image{
          img{
              height: 200px;
              width: 200px;
              border-radius:50%;
              border: 4px solid rgba(255,255,255,0.4);
              -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
              -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
              box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
          }
      }

      .scroll-content {
          align-content: center;
          
          justify-content: center;
          text-align: center;
      }
      
      ion-icon {
          font-size: 5.2em;
      }

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
        .card-subtitle2 {
          font-size: 1.0em;
          position: absolute;
          top: 57%;
          width: 100%;
          color: #fff;
        }
        .card-subtitle3 {
          font-size: 1.0em;
          position: absolute;
          top: 62%;
          width: 100%;
          color: #fff;
        }
      
      }
}
